.container {
    max-width: 1320px !important;
    margin: 0 auto;
}

@media screen and (max-width: 1450px) {
    .container {
        max-width: 1120px !important;
        margin: 0 auto;
    }
}

.text-banner {
    padding-top: 2%;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 1000px !important;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1020px) {
    .container {
        padding: 0 23px !important;
    }
}

@media screen and (max-width:767px) {
    .container {
        padding: 0 8px !important;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.c-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}


.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
