body {
  font-family: 'Be Vietnam Pro';
}

.box {
  padding: 100px 0 75px 0;
}

.box1,
.box1-circle {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.text-title {
  max-width: 500px;
  height: max-content;
  margin: auto 0;
}

.title1 {
  font-size: clamp(32px, 4.3vw, 48px);
  line-height: clamp(44px, 5.1vw, 56px);
  font-weight: 700;
  color: #353455;
  position: relative;
}

.title2 {
  position: relative;
}

.title1::before,
.title2::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  animation: showRight 1s ease forwards;
}

.title1::before {
  animation-delay: .2s;
}

.title2::before {
  animation-delay: .4s;
}
.circle2 {
  width: 246px;
  height: 246px;
}

.box1-circle .box-inner {
  position: relative;
}

.text-circle {
  fill: #FFFFFF;
  font-size: clamp(42px, 4.3vw, 48px);
  line-height: clamp(48px, 5.1vw, 56px);
  position: absolute;

  font-weight: 700;

}

.text-circle .number-after {
  font-size: 24px;
  position: relative;
  top: -18px;
  right: 13px;
}

.box-inner2 {
  margin-top: 121px;

}

.text-circle1 {
  top: 25%;
  left: 23%;
}

.text-circle2 {
  top: 18%;
  left: 26%;
}

.text-circle3 {
  top: 25%;
  left: 33%;
}

.text-circle4 {
  top: 25%;
  left: 35%;
}

.text-circle5 {
  top: 25%;
  left: 35%;
}

.flex {
  display: flex;
  align-items: center;
}

.desc-title2 {
  position: relative;
  margin-top: 24px;
  padding-left: 20px;
}

.desc-title2 li::marker {
  color: #EB4969;
  width: 7px;
  opacity: 0;
  animation: fade-in 1.4s ease-in-out forwards;
}

.desc-title2 li {
  font-size: 16px;
  color: #353455;
  line-height: 26px;
  margin-bottom: 20px;
  position: relative;
}

.desc-title2 li::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  animation: showRight 1s ease forwards;
}

.desc-title2 li:nth-child(1)::before {
  animation-delay: 0.6s;
}

.desc-title2 li:nth-child(2)::before {
  animation-delay: 0.7s;
}

.desc-title2 li:nth-child(3)::before {
  animation-delay: 0.8s;
}

.title2 {
  font-size: 24px;
  line-height: 34px;
  color: #004EAB;
  font-weight: 700;
}

.box2-text {
  display: flex;
  justify-content: flex-end;
}

.box-inner3 {
  position: relative;
  margin-top: 107px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin-right: 96px;
}

.box-inner4 {
  position: relative;
  margin-top: -71px;
  display: flex;
  justify-content: center;
}

.mt-112 {
  margin-top: -112px;
}

.w-100 {
  width: 100%;
}

@media screen and (max-width: 1450px) {
  .text-circle1 {
    top: 20%;
    left: 20%;
  }

  .text-circle2 {
    top: 15%;
    left: 24%;
  }

  .text-circle3 {
    top: 19%;
    left: 33%;
  }



  .text-circle5 {
    top: 19%;
    left: 30%;
  }
}

@media screen and (max-width: 1200px) {
  .text-circle1 {
    top: 17%;
    left: 16%;
  }

  .text-circle2 {
    top: 12%;
    left: 22%;
  }

  .text-circle3 {
    top: 16%;
    left: 33%;
  }


  .text-circle4 {
    top: 23%;
    left: 35%;
  }

  .text-circle5 {
    top: 16%;
    left: 30%;
  }
}

@media screen and (max-width:1023px) {
  .text-title2 {
    margin-top: 24%;
  }
}

@media screen and (max-width:767px) {
  .container {
    padding: 0 8px !important;
  }

  .box1 {
    flex-direction: column;
  }

  .mt-112 {
    margin-top: 0;
  }

  .box1 .col-12 {
    max-width: unset;
    width: 100%;
    flex: 0 0 auto;
  }

  .text-title {

    max-width: unset;
    width: 100%;
    text-align: center;
  }

  .text-title2 {
    margin-top: 0;
    text-align: center;
  }

  .box-inner2 {
    margin: 7.5% 0;
    display: flex;
    justify-content: flex-end;
  }

  .box-inner3 {
    margin: 7.5% 0;
    display: flex;
    justify-content: flex-start;
  }

  .box-inner4 {
    margin: 0;

  }

  .text-circle2 {
    top: 10%;
    left: 38%;
  }

  .text-circle3 {
    top: 10%;
    left: 30%;
  }

  .text-circle5 {
    top: 9%;
    left: 26%;
  }

  .text-circle4 {
    top: 15%;
    left: 33%;
  }

  .text-circle1 {
    top: 15%;
    left: 16%;
  }

  .desc-title2 {
    margin-left: 7%;
    margin-right: 7%;
    text-align: left;
  }
}

.box-inner, .box-inner2, .box-inner3, .box-inner4 {
  animation: moveUpDown 1s infinite alternate;
}


@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}


@keyframes showRight {
  100% {
    width: 0
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}