* {
  font-family: 'Be Vietnam Pro';
}

.box {
  padding: 100px 0 75px 0;
}

.box,
.box-circle {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.text-title {
  position: relative;
  max-width: 500px;
  height: max-content;
  margin: auto 0;
}

.title_1 {
  position: relative;
  font-size: clamp(32px, 4.3vw, 48px);
  line-height: clamp(44px, 5.1vw, 56px);
  font-weight: 700;

  color: #353455;
}

.title_1::before,
.title_2::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  animation: showRight 1s ease forwards;
}

.title_1::before {
  animation-delay: .2s;
}

.title_2::before {
  animation-delay: .4s;
}

.circle {
  width: 85%;
}

.box-circle .box-inner {
  position: relative;
}

.text-circle {
  color: #FFFFFF;
  font-size: clamp(32px, 4.3vw, 48px);
  line-height: clamp(44px, 5.1vw, 56px);
  position: absolute;

  font-weight: 700;

}

.text-circle .number-after {
  font-size: 24px;
  position: relative;
  top: -18px;
  right: 13px;
}

.box-inner_2 {
  margin-top: 121px;
  animation: moveUpDown 1s infinite alternate;
}



.text-circle_1 {
  top: 25%;
  left: 23%;
}

.text-circle_2 {
  top: 18%;
  left: 26%;
}

.text-circle_3 {
  top: 25%;
  left: 33%;
}

.text-circle_4 {
  top: 25%;
  left: 35%;
}

.text-circle_5 {
  top: 25%;
  left: 35%;
}

.flex {
  display: flex;
  align-items: center;
}

.desc-title_2 {
  position: relative;
  margin-top: 24px;
  padding-left: 20px;
}

.desc-title_2 li::marker {
  color: #EB4969;
  width: 7px;
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.desc-title_2 li {
  font-size: 16px;
  color: #353455;
  line-height: 26px;
  margin-bottom: 20px;
  position: relative;
}

.desc-title_2 li::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  animation: showRight 1s ease forwards;
}

.desc-title_2 li:nth-child(1)::before {
  animation-delay: 0.6s;
}

.desc-title_2 li:nth-child(2)::before {
  animation-delay: 0.7s;
}

.desc-title_2 li:nth-child(3)::before {
  animation-delay: 0.8s;
}


@keyframes display {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* .desc-title_2 li::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  animation: showRight 1s ease forwards;
} */

.title_2 {
  font-size: 24px;
  line-height: 34px;
  color: #004EAB;
  font-weight: 700;
  position: relative;
}

.box2-text {
  display: flex;
  justify-content: flex-end;
}

.box-inner_3 {
  position: relative;
  margin-top: 107px;
  animation: moveUpDown 1s infinite alternate;
}

.box-inner_4 {
  position: relative;
  margin-top: -71px;
  display: flex;
  justify-content: center;
  animation: moveUpDown 1s infinite alternate;
}

.box-inner {
  animation: moveUpDown 1s infinite alternate;
}

.mt-112 {
  margin-top: -112px;
}

.w-100 {
  width: 100%;
}

@media screen and (max-width: 1450px) {
  .text-circle_1 {
    top: 20%;
    left: 20%;
  }

  .text-circle_2 {
    top: 15%;
    left: 24%;
  }

  .text-circle_3 {
    top: 19%;
    left: 33%;
  }



  .text-circle_5 {
    top: 19%;
    left: 30%;
  }
}

@media screen and (max-width: 1200px) {
  .text-circle_1 {
    top: 17%;
    left: 16%;
  }

  .text-circle_2 {
    top: 12%;
    left: 22%;
  }

  .text-circle_3 {
    top: 16%;
    left: 33%;
  }


  .text-circle_4 {
    top: 23%;
    left: 35%;
  }

  .text-circle_5 {
    top: 16%;
    left: 30%;
  }
}

@media screen and (max-width:1023px) {
  .text-title_2 {
    margin-top: 24%;
  }
}

@media screen and (max-width:767px) {
  .container {
    padding: 0 8px !important;
  }

  .box {
    flex-direction: column;
  }

  .mt-112 {
    margin-top: 0;
  }

  .box .col-12 {
    max-width: unset;
    width: 100%;
    flex: 0 0 auto;
  }

  .text-title {

    max-width: unset;
    width: 100%;
  }

  .title_1,
  .title_2 {
    text-align: center;
  }

  .text-title_2 {
    margin: 0 5%;
  }

  .box-inner_2 {
    margin: 7.5% 0;
    display: flex;
    justify-content: flex-end;
  }

  .box-inner_3 {
    margin: 7.5% 0;
    display: flex;
    justify-content: flex-start;
  }

  .box-inner_4 {
    margin: 0;

  }


  .text-circle_1 {
    top: 15%;
    left: 16%;
  }

  .text-circle_2 {
    top: 10%;
    left: 38%;
  }

  .text-circle_3 {
    top: 10%;
    left: 30%;
  }

  .text-circle_4 {
    top: 15%;
    left: 33%;
  }

  .text-circle_5 {
    top: 9%;
    left: 26%;
  }


}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}


@keyframes showRight {
  100% {
    width: 0
  }
}